/* navigation bar */
.navbar {
    margin: 10px;
}
.navbar img {
    width: 100px;
    height: 30px;
}
.navbar li {
 float: right;
 list-style: none;
 color: #525659;
 margin: 10px;
}
/* input search for doctor and city */
.input_container {
    background-color: #99bbff;
    margin: 5px;
    align-self: center;
    text-align: center;
    
}
.input_container h1 {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #00001a;
    font-family: Arial, Helvetica, sans-serif;
}
.input_container p {
    text-align: center;
    margin: 20px;
    color: #000033;
    font-family:  inherit;
    letter-spacing: 1px;
}

.map {
    list-style: none;
    float: left;
    margin-left: 5px;
    margin-top: 8px;
    
}

.crosshair {
    list-style: none;
    float: right;
    margin-top: 8px;
    margin-right: 5px;

}
.input_container_city {
    background-color: white;
    margin: 20px;
    width: 90%;
    height: 40px;
   
    
}
.input_container_city input{
    outline: none;
    border: none;
    width: 85%;
    font-size: 15px;
    margin-top: 8px;
    
    
    
    
}
.input_container_doctor {
    background-color: white;
    margin: 15px;
    width: 90%;
    padding-right: 5px;
    height: 40px;
    margin-top: 10px;
    
}
.input_container_doctor input{
    outline: none;
    border: none;
    width: 90%;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 0px;
}
.input_container button {
    align-self: center;
    background-color: #000033;
    width: 9rem;
    height: 2.5rem;
    color: white;
    font-size: 15px;
    
    margin-bottom: 20px;
    
    
}
/* How it work */
.how_it_work_container p {
    font-style: inherit;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 10px;
}

.how_it_work_container li {
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    height: 30px;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #bfbfbf;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
}
.how_it_work_container #fix {
    color: black;
}
.how_it_work_container h2{
    text-align: center;
    color: #00001a;
    font-family: Arial, Helvetica, sans-serif;
}
.how_it_work_container img {
    align-self: center;
    align-content: center;
    text-align: center;
    width:90%;
}
.image {
    text-align: center;
}
strong {
    color: #bfbfbf;
    margin: 5px;
}
/*world class experts doctor */
.container1 {
    background-color: #001a33;
}
.container1 h2 {
 padding-top: 20px;
 font-family: Arial, Helvetica, sans-serif;
}
.container1 p {
    font-style: inherit;
    letter-spacing: 1px;
    margin: 5px;
    margin-bottom: 20px;
    line-height: 20px;
}
.container {
    position: relative;
    text-align: center;
    
  }
  .intro {
    position: absolute;
    bottom: 8px;
    background-color: white;
    width: 90%;
    margin-left:5%;
  }
  
  .intro h3 {
      color: #33ccff;
      text-align: left;
      margin-left: 10px;
      padding: 1px;
      line-height: 5px;
  }
  .intro P {
      font-style: normal;
      letter-spacing: 0px;
      text-align: left;
      line-height: 0px;
      margin-left: 10px;
      padding: 1px;
  }
  /* Featured medical treatment */
  .container3 h2{
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      
  }
  .container3 p{
      letter-spacing: 1px;
      text-align: center;
      font-family: inherit;
  }
.container3_1 {
    position: relative;
    text-align: center;
    
     }
.specialists {
        position: absolute;
        bottom: 8px;
        width: 90%; 
        margin-left:5%;
        background-color: black;
        opacity: 0.5;
      }  
 .specialists h3,h5 {
     opacity: 0.9;
 }     
.container3 h2 {
      color: black;
  }
.container3 p{
      color: black;
  }
.container3_1 h3,h5 {
    color: white;
    line-height: 1px;
    text-align: left;
    margin-left: 10px;
}
/* Exclusive Services */

.container4 {
    background-color: #efeff5;
    text-align: center;
    padding-bottom: 25px;
}  
.container4 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    padding-top: 20px;
}
.container4 p {
    letter-spacing: 1px;
    font-family: inherit;
    margin: 5px;
}
.mainbox{
    align-items: center;
    color: #809c99;
    display: flex;
    text-align: center;
    margin-left: 6px;
}
.smallbox{        
    border-radius: 1rem;
    height:150px;
    width:200px;
    background-color:white;
    margin: 5px;

}
.smallbox img {
    text-align: center;
    width: 100px;
    height: 100px;
}
.smallbox h3 {
    text-align: center;
    font-size: 15px;
    color: black;
}

/* help section */
.container5 {
    background-color: #8fcaf1;
    padding: 1rem;
    align-items: center;
    
    
    text-align: center;
}
.container5 p {
    color: #021433;
    font-family: inherit;
}
.container5 h2 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.container5 button {
  
  background-color: #0099ff ;
  width: 12rem;
  height: 3rem;
  color: white;
  font-size: 15px;
  outline: none;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* footer */
.footer {
    background-color: #021433;
    padding: 1rem;
    text-align: center;
    
}
ul {
    list-style: none;
    
}
ul li {
    color: #cccccc;
    padding: 10px;
    font-size: 12px;
}
.footer p {
    padding-bottom: 20px;
    color: #cccccc;
    font-size: 12px;
}
.social {
    text-align: center;
    color: #cccccc;
    font-size: 12px;

}
.social i {
    padding: 10px;
    color: #cccccc;
    font-size: 12px;
}
.footer img{
    
    height: 50px;
    width: 100px;
    padding-top: 20px;
}
